<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav bs-example-navbar-collapse-1">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= image_tag("logo.png", :alt => "rss feed") %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#fundraise">FUNDRAISE NOW</a>
                </li>
                <li>
                    <a href="#signup">SIGN UP</a>
                </li>
                <li>
                    <a href="#login">LOG IN</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


  <div class="container-fluid  bgimg">
    <div class="topspace"></div>
      <div class="row">
        <div class="col-md-5 col-md-offset-4 centeralign">
          <h3 >JOIN THE QUIDFISH REVOLUTION</h3>
        </div>
        <div class="col-md-5 col-md-offset-4 centeralign marginbottom">
          <h4>Donate to the causes you love. Track your<br> donation. Be rewarded for your kindness.
          </h4>
        </div>
        <div class="col-md-5 col-md-offset-4 centeralign marginbottom">
          <button type="button" class="btn btn-info ">How it works</button>
        </div>
        <div class="col-md-5 col-md-offset-4 centeralign">
          <h4>Where do you want to donate?</h4>
        </div>
        <div class="col-md-5 col-md-offset-4 centeralign">
          <div class="form-group">
            <input class="form-control input-sm" id="inputsm" type="text">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-4 centeralign">
          <button type="button" class="btn btn-success">Find a project</button>
        </div>
      </div>
  </div>
    <!-- /.container -a->

<!-- Footer -->
<footer class="alignleft">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; quidfish 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
